#div2{
 
    /* height: 700px;
    width: 100%; */
    background-image: url(https://i.postimg.cc/rFnJfR51/616949393cf90643c1403605-6423.png);
    background-repeat: no-repeat;
  background-size: cover;
  

  }