<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Smartphones
                       </h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href=""> OPPO Reno8 T 5G</a></li>
                        <li><a href="">  OPPO Reno8 5G</a></li>
                        <li><a href="">  OPPO Reno7 Pro 5G</a></li>
                        <li><a href="">OPPO F21s Pro 5G</a></li>
                        <li><a href=""> OPPO A77</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">IoT Products</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">
                          
                           
                            
                        </a></li>
                        <li><a href="">  OPPO Pad Air</a></li>
                        <li><a href="">OPPO Enco Buds2</a></li>
                        <li><a href="">OPPO Watch Free</a></li>
                        <li><a href="">OPPO Band Style</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Special Offers
                        
                       </h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Education Discount </a></li>
                        <li><a href=""> Strike a Bargain</a></li>
                       
                    </ul>
                </div>
            </div>

            
            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Support
                        
                       
                       
                      
                       
                       
                       
                        Investor</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">  Service Center</a></li>
                        <li><a href=""> OPPO Update</a></li>
                        <li><a href=""> Warranty Policy</a></li>
                        <li><a href="">  Terms and Conditions</a></li>
                       <li><a href="">   E-waste Management</a></li>
                        <li><a href="">   Security Response Center</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                    <p class="contact-info mt-4">Contact us if need help withanything</p>
                    <p class="contact-info">+01 123-456-7890</p>
                    <div class="mt-5">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr id="j">

    <div class="text-center mt-5">
        
        <p class="footer-alt mb-0 f-14">Copyright © 2004-2023 OPPO. All rights reserved.</p>
    </div>
</footer>

