<div >
    <img src="https://i.postimg.cc/59Km57XR/reno8-t-5g-2880-1440-2-jpg-thumb.webp" alt="Norway" style="width:100%;height: 700px;">
    <div class="text-block">
        <p id="p1"><b>Reno8 T</b></p>
        <p id="p2">A Step Above</p>
        <p id="p3">The Portrait Expert</p> <br>
        <button class="glow-on-hover" > <span>Launch on Feb 12</span></button>
    </div>
  </div>
 
  <div id="d2">
    <br><br><br>
    <p id="r1">Recommend</p>  <br><br><br>
    <div class="row">
        <div class="col-md-8">
            <div  id="v4" class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img id="h"style="height: 900px;width: 100%;"src="https://i.postimg.cc/MK7xhZ3X/reno8-shimmer-gold-1340x1786-6-pc-jpg-thumb.webp" class="img-fluid"/>
                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">OPPO Reno8 5G
                    </h5>
                  <p class="card-text">Ultra-Fast Tech in Your Hands <br>
                    80W SUPERVOOCTM | MediaTek Dimensity 1300</p> <br>
                   <a href="http://localhost:4200/product/view-product/2"> <button id="v2"> Buy Now</button> </a>
                </div>
              </div>


        </div>
        
    
        <div class="col-md-4">
            <div id="v1" class="card">
                <img src="https://i.postimg.cc/430D7MLD/f21s-pro-5g-middlebaner-jpg-thumb.webp" class="card-img-top" alt=""/>
                <div class="card-body">
                  <h5 class="card-title">OPPO F21s Pro 5G</h5>
                  <p class="card-text">Flaunt Your Best <br>
                    Order now and save up to Rs.5500 with Bank Discount and Exchange Program.</p> <br>
                    <p>At ₹25999</p>
                  <button id="v2"> Buy Now</button>
                  <br><br>
                </div>
            
              </div>
              <br><br><br><br>
              <div id="v1" class="card">
                <img src="https://i.postimg.cc/dtTLhPWY/a78-5g-blue-1600x1068-jpg-thumb.webp" class="card-img-top" alt=""/>
                <div class="card-body">
                  <h5 class="card-title">OPPO A78 5G</h5>
                  <p class="card-text">Upgrade Your Speed</p><br>
                  <p>₹18999</p>
                  <button id="v3"> Buy Now</button>
                  <br><br>
                </div>
              </div>




        </div>
      </div>
     
  </div>





















<br><br><br>
  <p style="font-size: 42px; margin-left: 85px;">Phones</p>
  <br>
  <div class="container">

    <a href=""  id="l">


    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/xCG4Wzsd/listpage-Sunset-Orange-427-600-pc-1.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO F21 Pro</h2>
            <p class="date"> Flaunt Your Best </p> <br>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <p class="previous-price">$27000</p>
                    <p class="current-price">$25000</p>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>


<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/J7ksFyyj/Reno7-Pro-listpage-blue-2.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO Reno7 Pro 5G</h2>
            <p class="date"> The Portrait Expert.Order now and save up to Rs.4000 with Bank Discount. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <p class="previous-price">$29000</p>
                    <p class="current-price">$27000</p>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>


<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/d0R7535J/A96-listpage-blue-v1.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO A96</h2>
            <p class="date"> 33W SUPERVOOC, 5000mAh Long-lasting Battery. Save up to Rs.1500 with Discount. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <p class="previous-price">$20000</p>
                    <p class="current-price">$18000</p>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>
   
<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/fy3tMKfv/Navigation-Cosmic-Black-427-600-pc.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO A96</h2>
            <p class="date"> 33W SUPERVOOC, 5000mAh Long-lasting Battery. Save up to Rs.1500 with Discount. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <p class="previous-price">$18000</p>
                    <p class="current-price">$15000</p>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>
   
</div>




  


<br><br><br>
  <p style="font-size: 42px; margin-left: 85px;">IoT</p>
  <br>
  <div class="container">

    <a href=""  id="l">


    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/zfYg7PRh/oppo-pad-air-600x600-1.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO Pad Air</h2>
            <p class="date">Best In Class Performance. </p> <br>
            <div class="pricing-and-cart">
                <div class="pricing">
                   
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>


<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/2SBMp39W/Enco-Buds2-black-600-600-1.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO Enco Buds 2</h2>
            <p class="date"> Small Size Strong Bass. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <br>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>


<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/wT4yb3Dp/Watch-free-navigation-black.png" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">OPPO Watch Free</h2>
            <p class="date">Sleep Smart,Sleep Well. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <br>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>
   
<a id="l"href="">
    <div class="card-1 card-div">
        <div class="like-icon-div">
            <label for="card-1-like" class="like-icon-div-child">
                <!-- <input type="checkbox" id="card-1-like">
                <i class="far fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-fill"></i> -->
            </label>
        </div>
        
        <div class="gow-img-div img-div">
            <img src="https://i.postimg.cc/qRQbP8kw/51-PVY5idbh-L-SL1500-1.jpg" alt="god-of-war-figurine">
        </div>
        <div class="text-container">
            <h2 class="item-name">
                OPPO Enco M32</h2>
            <p class="date">10 Minutes Charge, 20 Hours  Playback. </p>
            <div class="pricing-and-cart">
                <div class="pricing">
                    <br>
                    <p>Buy Now</p>
                    <hr style="color: black;">
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</a>
   
</div>

<div id="s">
<p style="font-size: 43px;text-align: center;color: black;padding-top: 145px;">Stay in touch with OPPO</p> <br>
<p style="text-align: center;">Subscribe to receive news, promotions and recommendations about OPPO products and <br> services from us and our partners.</p>
   <br>
   
   <i class="fa fa-thumbs-up" style="font-size:87px;color:rgb(144, 72, 238);margin-left:704px;" ></i>





</div>
